{% extends 'base.html' %}

{% block content %}
{% load static %}

  <!-- ***** Welcome Area Start ***** -->
  
  <section class="welcome-area">
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="welcome-welcome-slide bg-gradient-overlay"
        style="background-image: url({% static 'website/img/bg-img/1.jpg' %});">
      </div>
      <div class="carousel-caption d-none d-lg-block">
        <h2>We Believe Everyone Should Have Easy Access To Great Dental Care</h2>
        <br/><br/><br/><br/>
        <h3>1 As a leading industry innovator, Dento is opening up exciting 
          new opportunities for dental professionals, investors, 
          employees & suppliers. Contact us to find out what we have to offer.</h3>
        <br/><br/><br/><br/><br/><br/>
        <!-- Register Button -->
        <a href="#" class="btn dento-btn booking-btn">Register</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Login Button -->
        <a href="#" class="btn dento-btn booking-btn">Login</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Contact Us -->
        <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Contact Us</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="welcome-welcome-slide bg-gradient-overlay"
      style="background-image: url({% static 'website/img/bg-img/7.jpg' %});">
      </div>
      <div class="carousel-caption d-none d-lg-block">
        <h2>We Believe Everyone Should Have Easy Access To Great Dental Care</h2>
        <br/><br/><br/><br/>
        <h3>2 As a leading industry innovator, Dento is opening up exciting 
          new opportunities for dental professionals, investors, 
          employees & suppliers. Contact us to find out what we have to offer.</h3>
        <br/><br/><br/><br/><br/><br/>
        <!-- Register Button -->
        <a href="#" class="btn dento-btn booking-btn">Register</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Login Button -->
        <a href="#" class="btn dento-btn booking-btn">Login</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Contact Us -->
        <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Contact Us</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="welcome-welcome-slide bg-gradient-overlay"
      style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
      </div>
      <div class="carousel-caption d-none d-lg-block">
        <h2>We Believe Everyone Should Have Easy Access To Great Dental Care</h2>
        <br/><br/><br/><br/>
        <h3>3 As a leading industry innovator, Dento is opening up exciting 
          new opportunities for dental professionals, investors, 
          employees & suppliers. Contact us to find out what we have to offer.</h3>
        <br/><br/><br/><br/><br/><br/>
        <!-- Register Button -->
        <a href="#" class="btn dento-btn booking-btn">Register</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Login Button -->
        <a href="#" class="btn dento-btn booking-btn">Login</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- Contact Us -->
        <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Contact Us</a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/15.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>Vestibulum condimentum, risus sedones honcus rutrum, salah lacus mollis zurna, nec finibusmi velit advertisis. Proin vitae odin quis magna aliquet laciniae. Etiam auctor, nisi vel. Pellentesque ultrices nisl quam iaculis, nec pulvinar
              augue.</p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Experience Dentist</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="80"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Modern Equipment</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/13.jpg' %});">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Our Services</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Whitening</h6>
                </div>
              </div>
            
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s2.png' %}" alt="">
                  <h6>Missing Teeth</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s3.png' %}" alt="">
                  <h6>Teeth Whitening</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s4.png' %}" alt="">
                  <h6>Cosmetic Dentistry</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s5.png' %}" alt="">
                  <h6>Examination</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Pain</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pDDCKGV8cuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
              <br/>
              {% if your_name %}
                <center><h3>Thanks {{your_name}}</h3>
                  <br/>
                <h3>We received your email and will contact you shortly...</h3></center>
              {% endif %}
              <br/>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="#appointment" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="date" name="your-schedule" class="form-control-a">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-time" class="form-control">
                      <option value="Choose Your Time">Choose the time</option>
                      <option value="8am">8:00 AM</option>
                      <option value="8_30am">8:30 AM</option>
                      <option value="9am">9:00 AM</option>
                      <option value="9_30am">9:30 AM</option>
                      <option value="10am">10:00 AM</option>
                      <option value="10_30am">10:30 AM</option>
                      <option value="11am">11:00 AM</option>
                      <option value="11_30am">11:30 AM</option>
                      <option value="12pm">12:00 PM</option>
                      <option value="12_30pm">12:30 PM</option>
                      <option value="1pm">1:00 PM</option>
                      <option value="1_30pm">1:30 PM</option>
                      <option value="2pm">2:00 PM</option>
                      <option value="2_30pm">2:30 PM</option>
                      <option value="3pm">3:00 PM</option>
                      <option value="3_30pm">3:30 PM</option>
                      <option value="4pm">4:00 PM</option>
                      <option value="4_30pm">4:30 PM</option>
                      <option value="5pm">5:00 PM</option>
                      <option value="5_30pm">5:30 PM</option>
                      <option value="6pm">6:00 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Appointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Dentist</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/9.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/10.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/11.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->
{% endblock %}