{% extends 'base.html' %}

{% block content %}
{% load static %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'websie/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Our Pricing</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Dento Pricing Table Area Start ***** -->
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Service Names</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>per visit</td>
                  <td>AED 150.00</td>
                </tr>

                <tr>
                  <th scope="row">Remove crowns, bridges Service</th>
                  <td>per tooth</td>
                  <td>AED 200.00</td>
                </tr>

                <tr>
                  <th scope="row">Ceramic crowns and fillings Dental porcelain</th>
                  <td>per tooth</td>
                  <td>AED 350.00</td>
                </tr>

                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>per tooth</td>
                  <td>AED 350.00</td>
                </tr>

                <tr>
                  <th scope="row">Teeth Whitening Service at Dental Clinic</th>
                  <td>per visit</td>
                  <td>AED 400.00</td>
                </tr>

                <tr>
                  <th scope="row">Teeth Whitening Service at home</th>
                  <td>per visit</td>
                  <td>AED 450.00</td>
                </tr>

                <tr>
                  <th scope="row">Overlay teeth whitening ( 2 arches)</th>
                  <td>per visit</td>
                  <td>AED 600.00</td>
                </tr>

                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>per time</td>
                  <td>AED 1600.00</td>
                </tr>

                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>per tooth</td>
                  <td>AED 1800.00</td>
                </tr>

                <tr>
                  <th scope="row">Implantation of an implant (price depends on system used)</th>
                  <td>per tooth</td>
                  <td>AED 2200.00</td>
                </tr>
                
                <tr>
                  <th scope="row">Surgery (Based on the situation)</th>
                  <td>Per Operation</td>
                  <td>AED 5000.00 - AED50000.00</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Pricing Table Area End ***** -->
  {% endblock %}